{
  "appen_job": 1694644,
  "num_stimuli": 107,
  "stimulus_durations": [100, 151, 227, 342, 515, 776, 1170, 1762, 2655, 4000],
  "stimulus_width": 1280,
  "stimulus_height": 720,
  "allowed_min_time": 300,
  "training_sent": 5,
  "allowed_mistakes_sent": 2,
  "allowed_cb_middle": 0.2,
  "cb_middle_area": 100,
  "mask_id": 10000000,
  "files_heroku": ["heroku_1.json"],
  "file_appen": "appen.csv",
  "file_cheaters": "/_output/cheaters.csv",
  "mapping_cb": "/public/img/codeboard/data.json",
  "mapping_sentinel_cb": "/public/img/sentinel/sentinel_codes.json",
  "path_stimuli": "/public/img/stimuli",
  "vehicles_polygons": "/public/img/stimuli/vehicles_polygons.csv"
}