{
  "num_stimuli": 107,
  "stimulus_width": 1280,
  "stimulus_height": 720,
  "allowed_mistakes_sent": 2,
  "files_heroku": ["heroku_1.json"],
  "file_appen": "appen.csv",
  "mapping_cb": "/public/img/codeboard/data.json",
  "mapping_sentinel_cb": "/public/img/sentinel/sentinel_codes.json",
  "path_stimuli": "/public/img/stimuli"
}