<!doctype html>
<html>
  <head>
    <title>Experiment finished</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="jsPsych/jspsych.js"></script>
    <link href="jsPsych/css/jspsych.css" rel="stylesheet" type="text/css"></link>
    <link href="css/experiment.css" rel="stylesheet" type="text/css"></link>
    <link rel="icon" type="image/png" href="/img/favicon.png" />

  <script>
    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : sParameterName[1];
          }
      }
    };

    window.onload = function() {
      if (getUrlParameter('wrong_codes')) {  // too many wrong codes
          document.getElementById("wrong_codes").style.visibility="visible";  
      } else {  // wrong parameters given to this page
          document.getElementById("wrong_params").style.visibility="visible";
      }
  };
  </script>

  </head>
  <body>
    <div class = "parent">
      <div class = "child">
        
        <!-- finished with wrong codes inputted -->
        <div id="wrong_codes" style="visibility: hidden;">
          <div id="jspsych_target">
            You have provided <script>document.write(getUrlParameter('wrong_codes'));</script> wrong three-letter codes. It is more than the allow number. Please close this page and do not attempt to do this experiment again. You may close the Appen page as well, since the experiment will be reallocated to a different person. You were warned that not following the instructions will result in the experiment finishing and you not getting the payment. <strong>Please do not attempt to start this experiment on Appen again.</strong> You will not be allowed to participate.
            <br>
             Thank you for your participation and your time! We look forward to seeing you in our future experiments.
          </div>
        </div>

        <!-- wrong parameters given -->
        <div id="wrong_params" style="visibility: hidden;">
          <div id="jspsych_target">
            Wrong parameters given.  
          </div>
        </div>

      </div>
    </div>
  </body>
</html>