<!doctype html>
<html>
  <head>
    <title>Experiment finished</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="jsPsych/jspsych.js"></script>
    <link href="jsPsych/css/jspsych.css" rel="stylesheet" type="text/css"></link>
    <link href="css/experiment.css" rel="stylesheet" type="text/css"></link>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script>
    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : sParameterName[1];
          }
      }
    };

    window.onload = function() {
      if (getUrlParameter('work')) {  // worker code given
          document.getElementById("finish_code").style.visibility="visible";   
      } else if (getUrlParameter('failed_attempts')) {  // too many failed attempts
          document.getElementById("failed_attempts").style.visibility="visible";
      } else {  // wrong parameters given to this page
          document.getElementById("wrong_params").style.visibility="visible";
      }

      // show meme for too many failed attempts
      if (getUrlParameter("failed_attempts") >= 5) {
          document.getElementById("failed_meme").style.visibility="visible";
      }
  };
  </script>
  </head>
  <body>
    <div class = "parent">
      <div class = "child">
        <!-- finished with code -->
        <div id="finish_code" style="visibility: hidden;">
          <div id="jspsych_target">
          <div class="alert alert-primary" role="alert" style="text-align: left; visibility: hidden;" style="visibility: hidden;">
              <h4 class="alert-heading">Experiment completed</h4>
              <p>
                You have now completed the experiment. Thank you for your participation. Please note down or copy to your clipboard the following code:  
                <br>
                <strong>
                  <script>
                    document.write(getUrlParameter('work'));
                  </script>
                </strong>
                <br>
                  Do not forget to enter the code we gave in the Appen page in the field "Type code that you received after the end of the test." to finalise the job and receive your money. You will find this field under the link you clicked to open this tab. You may now close this tab.
              </p>
              <hr>
              <p class="mb-0">
                <strong>Do not forget to enter the code we gave in the Appen page in the field "Type code that you received after the end of the test." to finalise the job and receive your money.</strong> You will find this field under the link you clicked to open this tab. You may now close this tab.
              </p>
          </div>
        </div>

        <!-- finished with failed training session -->
        <div id="failed_attempts" style="visibility: hidden;">
          <div id="jspsych_target">
            <div class="alert alert-danger" role="alert" style="text-align: left" style="visibility: hidden;">
              <h4 class="alert-heading">Failed</h4>
              <!-- meme for more than 5 attempts with failed training session -->
              <div id="failed_meme" style="visibility: hidden;">
                <img src="img/fail-meme.jpg">
              </div>

              <p>You have failed the training session <script>document.write(getUrlParameter('failed_attempts'));</script> times, which is more than the allowed number.</p>
              <hr>
              <p class="mb-0">You were warned that not following the instructions will result in the experiment being discontinued and you not getting paid. You may now close this page as well as the Appen page. <strong>It will not be possible for you to restart this experiment on Appen.</strong></p>
            </div>
          </div>
        </div>

        <!-- wrong parameters given -->
        <div id="wrong_params" style="visibility: hidden;">
          <div id="jspsych_target">
            <div class="alert alert-danger" role="alert" style="text-align: left" style="visibility: hidden;">
                Wrong parameters given.
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>