<!doctype html>
<html>
  <head>
    <title>Experiment finished</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="jsPsych/jspsych.js"></script>
    <link href="jsPsych/css/jspsych.css" rel="stylesheet" type="text/css"></link>
    <link href="css/experiment.css" rel="stylesheet" type="text/css"></link>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script>
    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : sParameterName[1];
          }
      }
    };

    window.onload = function() {
      if (getUrlParameter('work')) {  // worker code given
          document.getElementById("finish_code").style.visibility="visible";   
      } else if (getUrlParameter('wrong_codes')) {  // too many wrong codes
          // if (getUrlParameter("show_popup_wrong_codes")) {
          //     $("#alertPopup").addClass('show');
          //     console.log('popup showed');

          //     $("#buttonClose").click(function(){
          //         console.log('close clicked');
          //         document.getElementById("wrong_codes").style.visibility="visible";
          //     }); 
          // } else {
          //     // show popup
          //     document.getElementById("wrong_codes").style.visibility="visible";
          // }
          document.getElementById("wrong_codes").style.visibility="visible";
      } else {  // wrong parameters given to this page
          document.getElementById("wrong_params").style.visibility="visible";
      }
      // show popup
      if (getUrlParameter("show_popup_wrong_codes")) {
          $("#inner-message").addClass('show');
          console.log('popup showed');
      }
  };
  </script>

   <!-- custom css -->
    <style>
    #message {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    #inner-message {
        margin: 0 auto;
    }
    </style>

  </head>
  <body>
    <!-- popup -->
    <!-- <div id="alertPopup">
      <div class="alert alert-error alert-dismissible fade" role="alert">
          <strong>Warning!</strong> You just inputted an incorrect code. Please pay more attention in future attempts <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="buttonClose"><span aria-hidden="true">&times;</span></button>
      </div>
    </div> -->   
    <div id="message">
        <div style="padding: 5px;">
            <div id="inner-message" class="alert alert-error">
                  <strong>Warning!</strong> You just provided an incorrect code. Please pay more attention in future attempts <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="buttonClose"><span aria-hidden="true">&times;</span></button>
                </div>
          </div>
    </div>
    <!-- end of popup -->

    <div class = "parent">
      <div class = "child">
        <!-- finished with code -->
        <div id="finish_code" style="visibility: hidden;">
          <div id="jspsych_target">
          You have now completed the experiment. Thank you for your participation. Please note down or copy to your clipboard the following code:  
          <br>
          <strong>
            <script>
              document.write(getUrlParameter('work'));
            </script>
          </strong>
          <br>
            Do not forget to enter the code we gave in the Appen page in the field "Type code that you received after the end of the test." to finalise the job and receive your money. You will find this field under the link you clicked to open this tab. You may now close this tab.
          </div>
        </div>

        <!-- finished with wrong codes inputted -->
        <div id="wrong_codes" style="visibility: hidden;">
          <div id="jspsych_target">
            You have provided <script>document.write(getUrlParameter('wrong_codes'));</script> wrong three-letter codes. It is more than the allow number. Please close this page and do not attempt to do this experiment again. You may close the Appen page as well, since the experiment will be reallocated to a different person. You were warned that not following the instructions will result in the experiment finishing and you not getting the payment. <strong>Please do not attempt to start this experiment on Appen again.</strong> You will not be allowed to participate.
            <br>
             Thank you for your participation and your time! We look forward to seeing you in our future experiments.
          </div>
        </div>

        <!-- wrong parameters given -->
        <div id="wrong_params" style="visibility: hidden;">
          <div id="jspsych_target">
            Wrong parameters given.
          </div>
        </div>

      </div>
    </div>
  </body>
</html>